LOOKER_PROJECT_NAME=looker-embed-demo-shipping
LOOKER_CONNECTION_NAME=looker-private-demo
LOOKER_EMBED_DOMAIN=https://localhost:8008
VITE_LOOKER_INSTANCE_URL=https://googledemo2.cloud.looker.com
VITE_DASHBOARD_ID=embed_demo::shipping_logistics__operations_overview
VITE_DASHBOARD_DATE_FILTER_NAMES='Date Range,Date'
VITE_THEME=Light_Mode
LOOKERSDK_BASE_URL=https://googledemo2.cloud.looker.com
LOOKERSDK_CLIENT_ID=your_looker_client_id
LOOKERSDK_CLIENT_SECRET=your_looker_client_secret
LOOKERSDK_VERIFY_SSL=true
LOOKERSDK_TIMEOUT=120
ENCRYPTION_KEY=your_encryption_key_here
